FANTRAX_USERNAME=you@example.com
FANTRAX_PASSWORD=yourpassword
FANTRAX_LEAGUE_ID=your_league_id
FANTRAX_TEAM_ID=your_team_id
FANTRAX_IL_SLOTS=6
FANTRAX_MINORS_SLOTS=10
GS_MAX=12
GS_MIN=7
PUSHOVER_USER_KEY=
PUSHOVER_API_TOKEN=
PUSHOVER_GROUP_KEY=